h5{
    text-decoration: underline;
    text-underline-offset: 10px;

}

#n1 {
    border: 1px solid #000;
}

#n1:hover {
    border: 2px solid red;
    color: red;
}

#more{
    padding:20px 75px 10px 75px;
}