#category {
    height: 40px;
}

#add_prod {
    border: 1px solid black;

}

#add_prod:hover {
    /* background-color: red; */
    border: 2px solid red;
    color: red;
    /* width: 200px; */
}

.udt{
    width: 100px;
    height: 45px;
    border: 1px solid black;
}

.udt:hover {
    border: 2px solid red;
    color: red;
}