body {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}


#logo {
    padding-left: 48px;
}

#logo img {
    width: 213px;
    height: 62px;
}

/* #nav {
    padding: 0px 12px;
} */

/* #search {
    padding: 0px 50px;
} */

#search_i {
    font-size: 25px;
    text-decoration: none;
    color: red;
    margin-left: -40px;

}

#search {
    padding-right: 40px;
}


#search_box {
    width: 550px;
    height: 50px;
    padding: 2px 10px;
    border: 1px solid red;
    border-radius: 20px;

}

#navbarCollapse .na_1 {
    font-size: 25px;
    padding: 0px 20px;
    margin: 0px 20px;
    color: red;
}

.nav_2:hover {
    border: none;
}

/* Product Section *********************************************************************************** */


#lp_2 {

    /* background-color: red; */
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: yellow;
} */

.p_d1 {
    padding: 35px;
}




.p_d1 .img_s .img_si {
    width: 420px;
    height: 330px;
}

/* .button_icon {
    background-color: red;
} */

.p_d2 {
    padding: 0px 20px;
}

.p_d1 .p_d2 .pro_x {
    padding: 40px 20px;
    font-size: 20px;
    display: flex;
    justify-content: end; 
    text-decoration: underline;
    text-underline-offset:10px ;

}

.p_d1 .p_d2 .fct {
    padding: 10px 0px;
    /* font-size: 20px; */
    align-items: center;
}

.p_d1 .brand {
    width: 300px;
 


}

.bttn {
    padding: 55px 20px;
    display: flex;
    justify-content: space-around;

}


#udt {
    width: 150px;
    height: 45px;
    border: 1px solid black;
    
}

#udt:hover {
    border: 2px solid red;
    color: red;
}

#spec {
    padding: 16px 0px;
}

#spec .specs {
    font-size: 25px;
    align-items: center;
    color: red;
    padding: 10px 10px;
        
}

#spec .descip ul{
    list-style: none;
}

#spec .descip .f_size{
    font-size: 20px;
}




/* section-2 **************************************************************************/


#lp_3 i {
    font-size: 55px;
}

#lp_3 .services:hover {
    border: 4px solid red;
    border-radius: 15px;
    box-shadow: 10px 10px 5px whitesmoke;

}


#s_footer #sf2 {
    font-size: 23px;
}

#s_footer hr {
    margin-top: 6px 0px;
}

#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


#category {
    height: 40px;
}