:root {
    --bg-color: white;
    --text-color: #000000;
    --main-color: #d61b3c;
}

* {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.header .p-0 .navbar i {
    color: var(--text-color);
}

.header #logo {
    padding-left: 50px;
    font-size: 30px;
    color: var(--main-color);
}
#addproduct{
    background-color: #d3d3d3;
    border-radius: 30px;
}
section #lname{
    color: var(--main-color);
    font-weight: bold;
}
.btn-block{
    background-color: var(--main-color);
    color: var(--bg-color);
}
.btn-block:hover{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
